<h1>Edit Comment</h1>


<!-- error message -->
<% if @comment.errors.any? %>
  <div>
    <% @comment.errors.full_messages.each do |msg| %>
      <div class="alert-danger"><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for [@book, @comment] do |f| %>
  <%= f.text_area :comment, class: "form-control", placeholder: "Please enter comments..." %>
  <%= f.submit "Edit a comment", class: "btn btn-info col-md-offset-10", style: "margin-top:10px;" %>
<% end %>
